@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: var(--font-color);
    text-decoration: none;
    font-size: 20px;
}

:root {
    --spotify-gray-dark: #282828;
    --spotify-black: #191414;
    --spotify-green: #1DB954;
    --font-color: #fff;
    --nfc-unavailable: #ff0000;
    --nfc-available: var(--spotify-green);
}

/**********************ELEMENTS*****************************/
html, body {
    background-color: var(--spotify-black);
    margin: 0;
}
button, h1, h2 {
    text-transform: uppercase;
    text-align: center;
    color: var(--font-color);
    margin: 1vh 0 1vh 0;
}
button {
    background-color: var(--spotify-gray-dark);
    border-radius: 1rem;
    border: 0;
}
button:hover {
    background-color: var(--spotify-green);
}
input {
    background-color: var(--spotify-gray-dark);
}
h1 {
    font-size: 1.5rem;
}
footer{
    display: flex;
}
/**********************CLASSES*****************************/
.corner-round-1{
    border-radius: 1rem;
}
.img-cover{
    margin-top: 2vh;
    height: 30vh;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    grid-row-gap: clamp(0, 2vh, 4vh);
}
.center-object {
  margin-top: 40vh;
}
.search {
    margin-top: 5vh;
}
.search, #searchbar {
    width: clamp(10vw, 60vw, 100vw);
}
.search, #searchbar {
    height: clamp(1.5rem, 5vh, 10vh);
}
.editing {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-column-gap: 2vw;
}
.button-style {
    padding: 1vh 2vw 1vh 2vw;
}
.button-control {
  fill: currentcolor;
  border-radius: 60px;
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0;
}

.margin-top {
    margin-top: 3vh;
}

.nfc_available {
    height: clamp(1rem, 3vh, 4vh);
    width: 30vw;
    background-color: var(--nfc-available);
}

.nfc_unavailable {
    height: clamp(1rem, 3vh, 4vh);
    width: 30vw;
    background-color: var(--nfc-unavailable);
}

/**********************ID*****************************/

#login-button{
  height: clamp(3rem, 20vh, 4rem);
  width: clamp(20vw, 40vw, 50vw);
}
